<!DOCTYPE html>
<html>
<head>
    <title>Passport with Sequelize</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
    
</head>
    
<style type="text/css">
    body {
      margin-top: 3em;
    }  
</style>
    
<body>
    <div class="ui column centered grid">
        <div class="ui card">
            <div class="image">
                <img src="/images/avatar/{{username}}.jpg">
            </div>
            <div class="content">
                <a class="header">{{ username }}</a>
                <div class="meta">
                    <span class="date">{{ email }}</span>
                </div>
                <div class="description">
                    Tosser
                </div>
            </div>
            <div class="extra content">
                <a>
                <i class="user icon"></i>
                22 Friends
                </a>
            </div>
        </div>
    </div>
</body>
 
    
</html>